{% extends 'base.html' %}

{% block title %}Help - Workflow{% endblock %}

{% block content %}

{% load static %}

<h1>Help</h1>

<h2>Variant workflow</h2>

How to investigate variants in a panel of genes.

You have:
Get of genes of interest
VCF files

You want:
What variants are found within the genes of interest?
What is the effect of those genes?

<h3>Loading in the data</h3>

Create gene panel

<ul>
    <li>From a bed file</li>
    <li>From a list of genes</li>
</ul>


Associate the VCFs


<h3>Do the analysis</h3>

<ul>
    <li>Go to Variant info / Gene panel</li>
    <li>Select the panel</li>
    <li>Click ok</li>
</ul>





{% endblock %}