{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

<div>
    <h2> Gene list to DB </h2>

    <p>This takes the genes from a panel and extracts them from a GFF file, placing the info into the database.</p>

    <p>Select gene panel</p>

    <form method="post">
        {% csrf_token %}
        <select name="panel_val">
            {% for panel in gene_panels %}
            <option value="{{panel}}">{{panel}}</option>
            {% endfor %}

        </select>
        <br><br>
      <input type="submit">
    </form>


</div>

{% endblock %}